@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

$font-family-dm: 'DM Serif Display', serif;
$font-family-pop: 'Poppins', sans-serif;

$bg-white:#FFFFFF;
$bg-black:#000000;
$bg-gray:#F3FBF9;
$primary-color: #CD496A;
$text-color: #282c52;
$title-color:#282c52;
